body {
    font-family: "Mononoki", monospace;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe5b9;
    color: #202020;
}

h2 {
    font-size: 1.4rem;
}

#uploader {
    margin-bottom: 1rem;
}

#root {
    width: 100%;
    max-width: 80ch;
}

a,
a:link,
a:visited,
a:hover {
    color: inherit !important;
}

.hidden {
    display: none !important;
}

.auth-indicator {
    text-decoration: underline;
    text-align: center;
    margin: 1rem;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#code-generator {
    background-color: #fff3de;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form .form-group {
    max-width: 30ch;
}

.form-group {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
}

.form-group.submit-group {
    justify-content: flex-end;
}

input,
button,
::file-selector-button {
    background-color: #fff3de;
    padding: 0.4rem;
    color: black;
    border: 2px solid gray;
    font-family: inherit;
    font-size: 1rem;
}

input:focus,
button:focus,
::file-selector-button:focus {
    border-color: black;
}

input[type=submit],
button,
::file-selector-button {
    cursor: pointer;
}

input[type="file"] {
    border: none;
    background: #fff3de;
    padding: 2rem;
    margin: 1rem;
}

::file-selector-button {
    margin: 1rem;
}

summary h2 {
    display: inline;
}

summary {
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-inline-start: 0;
}

.auth-indicator {
    cursor: pointer;
}

.tab-buttons {
    display: flex;
    transform: translate(0, 2px);
    margin-top: 1rem;
}

.tab-button {
    background-color: #eee;
    border: none;
    border-top: 2px solid;
    min-width: 10ch;
}

.tab-button:first-child {
    border-left: 2px solid;
}

.tab-button:last-child {
    border-right: 2px solid;
}

.tab-button.selected {
    background-color: #fff3de;
    font-weight: bold;
}

.tab-content {
    border: 2px solid black;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 0;
}

.upload-img-wrapper {
    max-width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img[src] {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    margin: 1rem;
}

.text-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    white-space: pre-wrap;
}

.text-upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    resize: none;
    height: 40ch;
    font-family: inherit;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 1.2rem;
    outline: 2px solid transparent;
    padding: 0;
    overflow: scroll;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
}

textarea:focus {
    outline: 2px solid grey;
}

.upload-controls {
    display: flex;
}

@media screen and not (hover:none) {

    input:hover,
    button:hover,
    ::file-selector-button:hover {
        border-color: #303030;
    }

}

@media screen and (max-aspect-ratio: 1/1) {
    .form-group {
        flex-direction: column;
    }
}